<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
  <span>$</span><%=  product.price %>
  </td>
  <td>
    <%= quantity %> 
  </td>
  <td>
   <span>$</span><%= product.price * quantity %>
  </td>
</tr>
